
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-left:20px">
    @using (Html.BeginForm("Success", "Payment", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label>Người nhận</label>
            <input name="Name" required class="form-control" />
        </div>

        <button type="submit">Gửi đơn hàng</button>
    }

</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-warning" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
</div>


