
@{
    ViewBag.Title = "Success";
}

@*<style>
        .card-body text-success {
            display: flex;
            padding: 100px;
            margin: 100px;
        }
        .card-title {
            padding: 100px;
            margin-left: 400px;
        }
    </style>*@

<div class="alert alert-success">
    Bạn vừa mua hàng thành công!
</div>
@*<div class="card border-success mb-3" style="max-width: 158rem;">

        <div class="card-body text-success">
            <h5 class="card-title">THANH TOÁN THÀNH CÔNG</h5>

        </div>

    </div>*@



<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-warning" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
</div>
