
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website title - bootstrap html template</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico">

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js" type="text/javascript"></script>


</head>
<body>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <a href="http://bootstrap-ecommerce.com" class="brand-wrap"><img class="logo" src="~/Content/images/logo.png"></a>
            </div> <!-- container.// -->
        </section>
    </header> <!-- section-header.// -->


    <section class="section-content padding-y">
        <div class="container">

            <header class="section-heading">
                <h2 class="section-title">Starter page </h2>
            </header><!-- sect-heading -->

            <article>


                <p>
                    BookStore được đánh giá là một trong những nhà xuất bản tư nhân uy tín nhất tại Việt Nam hiện nay. Được thành lập vào tháng 2 năm 2005, tuy nhiên sự chuẩn bị đã đến từ trước đó, với một nhóm bạn bè yêu thích văn chương và quý trọng sách vở thì Balzac và cô bé thợ may Trung hoa của Đới Tư Kiệt chính là cuốn sách đầu tiên được những người sáng lập BookStore xuất bản ngay cả trước khi công ty ra đời. Ngay lập tức từ cuốn sách đầu tiên này, độc giả đã dành sự quan tâm và yêu mến cho một thương hiệu sách mới mẻ mang trong mình niềm khát vọng góp phần tạo lập diện mạo mới cho xuất bản văn học tại Việt Nam.

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15552.116873916537!2d109.3426422!3d12.96998215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316fe58f12559bc5%3A0x97b09bef642f2071!2sS%C6%A1n%20Sport%20Store!5e0!3m2!1sen!2s!4v1637824449951!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


                    <br />
                </p>

                <p>
                    Trải qua mười lăm năm phát triển, Book Store đã được xây dựng dần lên trong diện mạo của một nhà xuất bản vững chãi và đầy chuyên nghiệp. Sau 6 tháng kể từ khi thành lập công ty, Nhật ký Đặng Thùy Trâm ra đời, tạo nên một cơn sốt trong xã hội với khoảng gần 500,000 bản sách được phát hành, phá vỡ mọi kỷ lục về xuất bản trước đó, kéo theo một loạt những hiệu ứng xã hội và dư luận có ý nghĩa. Từ đó trở đi, thông qua Book Store, các cuốn sách văn học nước ngoài có giá trị liên tục được mua bản quyền và xuất bản tại Việt Nam, thu hút rất nhiều độc giả. Sách của Book Store nổi bật bởi nội dung văn học tinh tế, bởi vẻ đẹp của thiết kế hiện đại ở hình thức, bởi sự chăm chút kỹ lưỡng cho mỗi cuốn sách như một con thuyền mang tới niềm vui, tri thức, ngạc nhiên, và đồng cảm.
                </p>
                

                <br>

            </article>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer border-top padding-y">
        <div class="container">
            <p class="float-md-right">
                &copy Copyright 2019 All rights reserved
            </p>
            <p>
                <a href="#">Terms and conditions</a>
            </p>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->


</body>
</html>
