
@{
    ViewBag.Title = "Content";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">CHÍNH SÁCH BÁN HÀNG</h5>
        <p>
            Với đa phần đơn hàng, BookStore cần vài giờ làm việc để kiểm tra thông tin và đóng gói hàng. Nếu các sản phẩm đều có sẵn hàng, BookStore sẽ nhanh chóng bàn giao cho đối tác vận chuyển. Nếu đơn hàng có sản phẩm sắp phát hành, BookStore sẽ ưu tiên giao những sản phẩm có hàng trước cho Quý khách hàng.

            Trong một số trường hợp, hàng nằm không có sẵn tại kho gần nhất, thời gian giao hàng có thể chậm hơn so với dự kiến do điều hàng. Các phí vận chuyển phát sinh, BookStore sẽ hỗ trợ hoàn toàn.

            Thời gian giao hàng không tính thứ 7, Chủ nhật, các ngày Lễ, Tết và không bao gồm tuyến huyện đảo xa.

            THỜI GIAN VÀ CHI PHÍ GIAO HÀNG TẠI TỪNG KHU VỰC TRONG LÃNH THỔ VIỆT NAM:

            1. Nội thành TP.HCM và Hà Nội

            Thời gian: 1-2 ngày
            Chi phí: 15.000đ/ đơn hàng (không giới hạn giá trị, áp dụng từ 02.11.2021)

            2. Các tỉnh thành khác

            Thời gian: 2-3 ngày
            Chi phí: 30.000đ/ đơn hàng (không giới hạn giá trị, áp dụng từ 02.11.2021)
        </p>
        

        <br><br>

        <a href="javascript: history.back()" class="btn btn-light"> &laquo Go back</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
