
@{
    ViewBag.Title = "Content";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">CHÍNH SÁCH BÁN HÀNG</h5>
        <p>
            Hiện nay, do mức chiết khấu trên Fahasa.com rất cao, đặc biệt vào các thời điểm chạy chương trình. Do đó đối với mỗi chương trình số lượng sản phẩm giảm sốc có giới hạn nhất định, vì vậy để đảm bảo quyền lợi của từng khách hàng, chúng tôi xin thông báo tiêu chí xét “Đơn Hàng Sỉ” và chính sách như sau:


            1. Đơn hàng được gọi là “đơn hàng sỉ” khi có tổng giá trị các đơn hàng trong 1 ngày có giá trị: từ 3.000.000 đồng (Ba triệu đồng) trở lên.
            - Các đơn hàng có cùng thông tin người mua hàng (cùng số điện thoại, cùng email hoặc cùng địa chỉ nhận hàng) thì được tính là đơn hàng của 1 khách hàng.
            2. Chính sách giá (% chiết khấu giảm giá). Đây là chính sách chung chỉ mang tính tương đối. Xin quý khách vui lòng liên lạc với Fahasa để có chính sách giá chính xác nhất:
            - Đối với Nhóm hàng sách kinh tế, Văn học: áp dụng mức giảm giá trên web tối đa không vượt quá 30%.
            - Đối với Nhóm hàng sách thiếu nhi và tâm lý kỹ năng: áp dụng mức giảm giá trên web tối đa không vượt quá 20%.
            - Đối với Nhóm hàng sách từ điển và sách ngoại văn : áp dụng mức giảm giá trên web tối đa không vượt quá 10%.
            - Đối với Nhóm hàng văn phòng phẩm, đồ chơi, dụng cụ học sinh: áp dụng mức giảm giá trên web tối đa không vượt quá 15%.
            - Đối với Nhóm hàng giấy photo, sản phẩm điện tử, văn hóa phẩm: áp dụng mức giảm giá trên web tối đa không vượt quá 5%.

            Quý khách có nhu cầu mua sỉ, vui lòng liên hệ phòng kinh doanh Fahasa.com: 1900 63 64 67 hoặc Email: info@fahasa.com.vn.
        </p>
        

        <br><br>

        <a href="javascript: history.back()" class="btn btn-light"> &laquo Go back</a>

        @*@Html.RouteLink("click vào đây", "chinhsachbanhang")*@

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
