@model List<WebsiteBanHang.Context.C2119110263_Page>


@{
    ViewBag.Title = "Page";
}


<div class="content_main">
    <div class="box_news">
        @foreach (var item in Model)
        {
            <article class="card card-product-list">
                <div class="row no-gutters">
                    <aside class="col-md-3">

                        <a href="" class="img-wrap">
                            <span class="badge badge-danger"></span>

                            <img src="~/Content/images/avatars/@item.Avatar">
                        </a>
                    </aside> <!-- col.// -->
                    <div class="col-md-6">
                        <div class="info-main">
                            <a href="@Url.Action("DetailPage", "Content", new { Id = item.Id })" class="h5 title"> @item.Name</a>
                            <div class="rating-wrap mb-2">
                                <ul class="rating-stars">
                                    <li style="width:100%" class="stars-active">
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>

                                </ul>

                            </div> <!-- rating-wrap.// -->



                            <p>
                                @item.ShortDes
                            </p>

                        </div> <!-- info-main.// -->
                    </div> <!-- col.// -->
                    
                </div> <!-- row.// -->
            </article> <!-- card-product .// -->}
    </div>
</div>
